* {
  margin: 0px;
  padding: 0px; }

/* ------------ HEADER ------------ */
.pre-header {
  background-color: #9f836f;
  width: 100%; }

.pre-header__text {
  text-align: center;
  font-size: 0.8rem;
  font-family: "Work Sans", sans-serif;
  color: white;
  padding: 13px;
  font-weight: bold; }

header {
  margin: 0px;
  width: 100%;
  justify-content: center;
  align-items: center;
  position: fixed;
  background-color: white;
  z-index: 4; }

.container-fluid {
  margin-top: 66px; }

.navbar {
  text-decoration: none;
  color: #626060;
  padding-bottom: 0px;
  background-color: #fff; }

.nav-link:focus, .nav-link:hover {
  color: #9f836f; }

.nav-link {
  color: #626060; }

.navbar-nav {
  padding-left: 400px; }

.nav-item {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  padding-left: 0px;
  color: black; }

.navbar .navbar-light .navbar-nav .nav-link:hover {
  color: #9f836f; }

.nav-link {
  display: table; }

.nav-link::after {
  content: "";
  display: block;
  height: 3px;
  background-color: #9f836f;
  transform: scale(0, 1);
  transform-origin: center;
  transition: transform .25s; }

.nav-link:hover::after {
  transform: scale(1, 1); }

.logo {
  margin: 20px 20px; }

nav {
  display: flex;
  justify-content: center;
  align-content: center;
  margin-top: -84px; }

.dropdown-menu--item {
  max-height: 33rem; }

.dropdown-item {
  font-family: "Roboto", sans-serif;
  text-align: left;
  font-size: 12px;
  text-transform: uppercase; }

.dropdown-item:hover {
  background-color: #b3aca7; }

.nav-icons {
  display: flex;
  float: right;
  margin: 0px; }

.nav_icons--item {
  margin-right: 13px; }

.nav-link {
  font-family: "Raleway", sans-serif;
  color: #626060; }

.nav-link {
  font-weight: bold;
  word-spacing: 20px;
  padding-left: 0px;
  color: #626060; }

.nav-link a:hover {
  color: #9f836f; }

ul {
  list-style: none; }

li {
  display: inline-block; }

ul li a {
  text-decoration: none;
  color: #626060; }

header {
  grid-area: header;
  align-items: center; }

.miCuenta {
  margin-right: 14px; }

.cuenta {
  display: flex;
  float: right;
  margin-left: 14px; }

.bolsa {
  margin-right: 20px; }

/*------------VIDEO------------*/
.video__container--videoInicio {
  margin-top: 200px; }

iframe {
  padding-top: 20x; }

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden; }

.embed-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin-top: -58px; }

.margen-top {
  padding-top: 122px; }

.container__video {
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  position: relative; }

.iframe {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0; }

/*---------CAROUSEL----------*/
.carousel {
  background-color: #efefef;
  width: 100%;
  height: 644px;
  margin-top: -110px;
  margin-bottom: 1rem; }

.carousel_container {
  float: left;
  margin-top: 91px; }

.carousel-inner {
  margin-top: 110px; }

.carousel-control-next-icon, .carousel-control-prev-icon {
  display: inline-block;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 100% 100%; }

.parrafo {
  grid-area: seccionParrafo; }

.parrafo {
  max-height: 500px;
  max-width: 500px;
  margin-left: 48px;
  margin-right: 48px;
  margin-top: 55px;
  font-family: "Work Sans", sans-serif;
  font-size: 14px;
  color: black;
  background-color: #efefef;
  text-align: justify;
  line-height: 1.5; }

.parrafo__titulo {
  margin-bottom: 40px;
  margin-top: 0px;
  text-align: justify;
  text-align: center;
  font-family: "Playfair Display", serif;
  font-size: 47px;
  color: black; }

.parrafo__texto {
  font-family: "Work Sans", sans-serif;
  font-size: 14px;
  color: black;
  text-align: justify;
  line-height: 1.5; }

.parrafo__button:hover {
  opacity: 3;
  transition: all 3s;
  font-weight: bold; }

.parrafo__button:hover {
  opacity: 0.9; }

.parrafo__button {
  margin-top: 10px; }

.flecha {
  width: 26px; }

.flecha {
  width: 50px;
  height: 45px;
  background-color: #efefef;
  -webkit-transition: width 1s, background 1s;
  -moz-transition: width 1s, background 1s;
  -o-transition: width 1s, background 1s;
  transition: width 1s, background 1s;
  padding: 10px; }

#div1 {
  -webkit-transition-timing-function: linear;
  -moz-transition-timing-function: linear;
  -o-transition-timing-function: linear;
  transition-timing-function: linear; }

.flecha:hover {
  width: 60px;
  background-color: #efefef; }

.enlace {
  text-decoration: none;
  color: inherit; }

.enlace:hover {
  color: black;
  font-weight: bold; }

.imagenesCarousel {
  grid-area: imagenesCarrousel;
  width: 65%; }

.carousel_container {
  display: flex;
  float: left;
  margin-top: 0px; }

.carousel-item {
  position: relative;
  display: none;
  float: left;
  width: 100%;
  margin-right: -100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transition: transform .5s ease-in-out; }

.d-block {
  display: block !important; }

.w-100 {
  width: 100% !important;
  margin-top: 0; }

/*---------MENU INFERIOR-------- */
.menuInferior__contenedor {
  margin: 1rem;
  text-align: center; }

.menuInferior__contenedor img {
  margin: 20px; }

.catbazar {
  opacity: 2; }

.catbazar:hover {
  opacity: 0.8; }

.menuInferior__contenedor--contenedor {
  position: relative;
  display: inline-block;
  text-align: center;
  margin-left: 20px; }

.texto-encima {
  position: absolute;
  top: 10px;
  left: 10px; }

.centrado {
  position: absolute;
  top: 84%;
  left: 70%;
  transform: translate(-50%, -50%);
  font-family: "Work Sans", sans-serif;
  text-decoration: none;
  font-size: 30px;
  color: white; }

.centrado {
  opacity: 2;
  transition: all 1s; }

.centrado:hover {
  opacity: 1; }

.centrado {
  display: table; }

.centrado::after {
  content: "";
  display: block;
  height: 3px;
  background-color: white;
  transform: scale(0, 1);
  transform-origin: center;
  transition: transform .25s; }

.centrado:hover::after {
  transform: scale(1, 1); }

/* --------- SECCION REDES ------------- */
.title__follow {
  font-family: "Playfair Display", serif;
  text-align: center;
  font-size: 2.25rem;
  font-weight: bold;
  letter-spacing: 4.2px;
  margin-bottom: 20px; }

.text__follow {
  font-family: "Roboto", sans-serif;
  text-align: center; }

.container__rrss {
  width: 100%;
  height: 30%;
  background-color: #efefef;
  padding: 40px 150px; }

.container__img {
  margin-left: 62px; }

.img__rrss {
  margin-top: 31px;
  margin-bottom: 32px;
  margin-right: 10px;
  width: 200px; }

.img__rrss:hover {
  filter: grayscale(80%); }

.container__img :hover .img__rrss:hover {
  -webkit-transform: scale(0.5);
  transform: scale(1.1);
  transition: all 1s; }

.container__img {
  overflow: hidden; }

.container__logos {
  text-align: center; }

.logofooter {
  width: 30px;
  margin: 9px; }

/* --------- FOOTER ------------- */
footer {
  background-color: #9f836f;
  height: 307px; }

.menu__footer {
  font-family: "Work Sans", sans-serif;
  font-size: 15px;
  font-weight: bold;
  color: white; }

.nav__link {
  font-family: "Work Sans", sans-serif;
  font-size: 12px;
  color: white;
  text-align: left;
  text-justify: none; }

.nav__link:visited {
  color: white; }

.nav__link {
  display: table; }

.nav__link::after {
  content: "";
  display: block;
  height: 3px;
  background-color: white;
  transform: scale(0, 1);
  transform-origin: center;
  transition: transform .25s; }

.nav__link:hover::after {
  transform: scale(1, 1); }

.rights {
  font-family: "Work Sans", sans-serif;
  color: white;
  font-size: 11px; }

.texto__suscribite {
  font-family: "Playfair Display", serif;
  color: white;
  letter-spacing: 1px;
  width: 140%;
  font-size: 2.25rem; }

.texto__10off {
  font-family: "Playfair Display", serif;
  color: white;
  letter-spacing: 0.1;
  letter-spacing: 1px; }

.container__suscripcion {
  margin-left: 2.333333%; }

.py-4 {
  padding-bottom: 0px; }

.form-control {
  width: 260px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #fff;
  color: #fff; }

.button_news {
  background-color: black;
  border: black;
  font-family: "Work Sans", sans-serif;
  font-weight: bold; }

.btn-primary:hover {
  background-color: #b3aca7; }

.btn-primary:active {
  background: #b3aca7; }

.btn-primary:focus {
  background: #b3aca7;
  border: transparent; }

.form__news {
  padding: 7px;
  font-family: "Work Sans", sans-serif;
  color: #9f836f; }

.bannerCategorias {
  background-color: #efefef;
  letter-spacing: 2px;
  font-family: "Playfair Display", serif;
  font-size: 3rem;
  text-align: center;
  padding: 30px; }

.bannerCategorias {
  background-color: #efefef;
  letter-spacing: 2px;
  font-family: "Playfair Display", serif;
  font-size: 3rem;
  text-align: center;
  padding: 30px; }

.categorias__container {
  padding-top: 132px; }

.fotoProducto {
  display: inline-block;
  width: 24%;
  font-family: "Work Sans", sans-serif; }

.grillaproductos {
  display: inline;
  margin-left: 22px; }

.products__container {
  padding-left: 36px; }

.fotoProducto:hover {
  opacity: 2;
  transition: all 1s; }

.fotoProducto:hover {
  opacity: 0.8; }

.button {
  overflow: visible; }

.quick-buy-btn {
  width: 337px;
  height: 52px;
  color: black;
  opacity: 0.66;
  position: relative;
  z-index: 3;
  bottom: 0px;
  font-size: 10px;
  text-transform: uppercase;
  font-family: "Work Sans", sans-serif;
  font-weight: bold;
  letter-spacing: 1.2px; }

.btn {
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  color: white;
  text-align: center;
  font-weight: bold;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  background-color: transparent;
  padding: 0.375rem 0.75rem;
  font-size: 13px;
  border-radius: 0px;
  transition: color .15s ease-in-out background-color .15s ease-in-out box-shadow .15s ease-in-out;
  background-color: #9f836f; }

.nombreProducto {
  font-family: "Work Sans", sans-serif;
  color: black;
  letter-spacing: 0.4px;
  font-weight: bold;
  margin: 0px;
  margin-top: 0.5rem;
  font-size: 15px; }

.fotoProducto {
  margin-bottom: 18px; }

.precioProducto {
  font-family: "Work Sans", sans-serif;
  color: black;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 0.5px; }

.video__sabana {
  width: 24%;
  display: inline-block; }

.video__sabana--bazar {
  margin-bottom: -6px; }

.container__text {
  font-size: 3rem;
  text-align: center;
  background-color: #efefef;
  padding: 27px;
  font-family: "Playfair Display", serif; }

.breadcrumb__container {
  margin-top: 33px;
  margin-left: 13px; }

.breadcrumb-item.active {
  color: black; }

a {
  color: grey;
  text-decoration: none; }

.breadcrumb {
  display: flex;
  flex-wrap: wrap;
  padding: 0 0;
  margin-bottom: 0.5rem;
  list-style: none;
  font-family: "Work Sans", sans-serif;
  margin-top: 77px; }

.bg-secondary {
  background-color: #9f836f; }

.w-43 {
  width: 34%;
  font-family: "Work Sans", sans-serif; }

.w-49 {
  width: 33%;
  font-family: "Work Sans", sans-serif; }

.fl {
  float: left;
  font-family: "Work Sans", sans-serif; }

.titulo {
  font-family: "Work Sans", sans-serif; }

#form {
  position: relative;
  width: 500px;
  margin: 50px auto 100px auto; }

textarea {
  width: 470px;
  max-width: 470px;
  height: 110px;
  max-height: 110px;
  padding: 15px;
  font-weight: bold;
  background: transparent;
  outline: none;
  border: transparent;
  color: #726659;
  font-family: "Work Sans", sans-serif;
  font-size: 0.875em;
  border: solid 1px #b3aca7;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out; }

textarea:hover {
  background: #d1cdca;
  color: #5c5c5c; }

.mt0 {
  margin-top: 0px !important; }

#submit {
  width: 470px;
  padding: 0;
  margin: -5px 0px 0px 0px;
  font-family: "Work Sans", sans-serif;
  font-size: 0.875em;
  color: #fff;
  outline: none;
  cursor: pointer;
  border: solid 1px #9f836f;
  border-top: none;
  background-color: #9f836f; }

#message {
  font-family: "Work Sans", sans-serif;
  color: black;
  letter-spacing: 0.5px;
  font-size: 0.875em; }

.formcontact {
  font-family: "Work Sans", sans-serif;
  font-weight: bold;
  letter-spacing: 0.5px;
  font-size: 0.875em;
  width: 470px;
  height: 50px;
  padding: 0px 15px 0px 15px;
  background: transparent;
  outline: none;
  color: #5c5c5c;
  border: solid 1px #b3aca7;
  border-bottom: none;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out; }

.center-menu {
  margin-right: auto;
  margin-left: auto;
  padding-left: 0px; }

@media (min-widht: 320px) and (max-widht: 576px) {
  .navbar {
    width: 100%; }
  .navbar-nav {
    padding-left: 0px; }
  .categorias__container {
    padding-top: 10px; }
  .product__container {
    padding-right: 10px; }
  .container__video {
    width: 118%; } }

@media (min-widht: 576px) and (max-width: 768px) {
  .fotoProducto {
    width: 49%; }
  .container__video {
    padding-bottom: 80.25%;
    width: 118%; }
  .navbar-nav {
    padding-left: 0px; }
  .hidden-xs {
    display: none; }
  .seccionCarrousel {
    padding: 0;
    width: 100%;
    height: 65rem;
    margin: 0; }
  .carousel {
    margin: 0px; }
  .w-100 {
    display: inline-block; }
  .seccionParrafo {
    margin: 0;
    width: 100%; }
  .imagenesCarrousel {
    margin-top: 39px;
    width: 100%; }
  .img1 {
    width: 100%;
    display: inline-block;
    padding: 0;
    margin: 0; }
  .img2 {
    width: 100%;
    padding: 0;
    margin: 0; }
  .menuInferior {
    margin: 0;
    width: 100%; }
  .menuInferior img {
    margin: 0;
    padding: 0; }
  .contenedor {
    margin-top: 30px;
    margin-bottom: 30px; }
  .navbar {
    margin-top: 7px;
    float: right; }
  .fl {
    margin-top: 20px; }
  .cat1 {
    margin-left: 0px; }
  .textoSuscribite {
    text-align: center; } }

@media (max-width: 991px) {
  .navbar {
    margin-top: 7px;
    float: right; }
  .item {
    padding: 0px 1px;
    width: 50% !important;
    margin-bottom: 25px; } }

@media (min-width: 768px) and (max-width: 1200px) {
  .seccionCarrousel {
    height: 46rem;
    padding: 0;
    margin: 0; }
  .img1 {
    width: 50%; }
  .img2 {
    width: 53%; }
  .container-fluid {
    margin-top: 45px; }
  .contenedor {
    margin-top: 20px;
    margin-bottom: 20px; }
  .parrafoInicio {
    margin-left: 46px;
    margin-right: 46px; }
  .verMas {
    text-align: center;
    font-weight: bold; }
  .tituloInicio {
    text-align: center;
    margin-left: 46px;
    margin-right: 46px;
    font-size: 39px; }
  .navbar-toggler {
    margin-right: 13px; } }
