$color-principal: #9f836f;
$color-secundario: #efefef;


$letra-principal:'Work Sans', sans-serif;
$letra-secundaria:'Playfair Display', serif;
$letra-tercera: 'Raleway', sans-serif;
$letra-cuarta: 'Palanquin', sans-serif;


$color-letra-principal: #626060;
$color-letra-secundario: #9f836f;